
.list-title {
  text-align: left;
  padding: 20px 20px 10px;
  background-color:#d38120;
  color: #fdd133;
  font-weight: bold;
}

.list-content{
  padding: 10px 30px 0;  
  color: #d38120;
}

.input-field{
  margin: 20px 20px 10px;
  color: #d38120;
  width: 300px;
  border: 1px sodid #d38120;

}